{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock title %}


{% block content %}
<img src="{% static 'img/DonQ-Rum.png' %}" alt="">
<h1>Posts</h1>
{% for post in post_list %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.subtitle }}</h6>
    <p class="card-text">{{ post.body|truncatechars:512 }}</p>
    <a href="{% url 'detail' post.id %}" class="card-link">Continue Reading...</a>
  </div>
</div>
  <br />
{% endfor %}
{% endblock content %}